<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">
    <title>Data record</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/linericon/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/owl-carousel/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/lightbox/simpleLightbox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/nice-select/css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/animate-css/animate.css') }}">
    <!-- main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


      </head>

        <style>
    	  table {margin-left: -42px;}
    		td {padding-left: 305px;}
    		text {color: black;
    		   font-size: 20;
    		   font-family: sans-serif;}
    		h3 {color: black;
    			  font-family: sans-serif;}
    	</style>

     </head>

<body>

    <!--================Header Menu Area =================-->
    
   
        <header class="header_area">
            
            <div class="main_menu">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <a class="navbar-brand logo_h" href="index.html"><i class="fa fa-blind"></i> HealthCareLabs</a>                 
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                         aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                            <div class="row ml-0 w-100">
                                <div class="col-lg-12 pr-0">
                                    <ul class="nav navbar-nav center_nav pull-right">
                                        <li class="nav-item ">
                                            <a class="nav-link" href="index.html"><span class="fa fa-home"></span> Home</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link" href="team.html"><span class="fa fa-users"></span> Team</a>
                                        </li>
                                      <li class="nav-item active">
    										<a class="nav-link" href="files.html"><span class="fa fa-ambulance"></span>Health Statics</a>
    									</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <section class="banner_area">
                <div class="banner_inner d-flex align-items-center">
                    <div class="container">
                        <div class="banner_content text-center">
                            <h2>Report</h2>
                            <div class="page_link">
                                <a href="index.html">Home</a>
                                <a href="files.html">All Data</a>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        </br></br><br>
        <div class="container">
            <table>
                <div class="row">
                {% if context.p != 0 %}
                <div class="col-sm-6" style="background-color:gray">
                     <div class="text-center" style="font-size: 25px;">
                        <h1>Predicted Disease based on information given</h1>
                      </div>
                </div>
                <div class="col-sm-6" style="background-color:gray">
                     <div class="text-center"style="font-size: 25px;">
                        <h1>{{ context.p }}</h1>
                    </div>
                </div>
                </div>
                {% endif %}
            </table>
            <table>
                <div class="row">
                <div class="col-sm-6" style="background-color:lightblue">
                     <div class="text-center" style="font-size: 25px;">
                        <h1>ACCURACY</h1>
                      </div>
                </div>
                <div class="col-sm-6" style="background-color:lightblue">
                     <div class="text-center"style="font-size: 25px;">
                        <h1>{{ context.accuracy }} %</h1>
                    </div>
                </div>
                </div>
            </table>
        </div>
				
		<div class="container">
			<div style="background-color: lightblue; opacity: 1.0; margin: 40px 0px 50px 0px; ">
    			<br><br><br>
    			<table>
    				<tbody>
                        <tr>
        					<td style="padding: 10px 0px 10px 60px;"><img src="{% if context.i_s == 0 %}
                                {{ url_for('static', filename='plot1.png') }} {% else %} {{ url_for('static', filename='plot13.png') }} {% endif %}" height="400" width="400"></td>
                            <td align="left"><h3>Density Graph</h3></td>
        			    </tr>

        				<tr>
                            <td style="padding: 10px 0px 10px 60px;"><img src="{% if context.i_s == 0 %}
                                {{ url_for('static', filename='plot2.png') }} {% else %} {{ url_for('static', filename='plot24.png') }} {% endif %}" height="400" width="400"></td>
        					<td align="left"><h3>Correlation Graph</h3></td>
        				</tr>
                    </tbody>
                </table>
		    </div>
        </div>

        <div class="container">
            <table class="table"style="background-color: lightblue; opacity: 1.0; margin: 40px 4px 50px 1px; ">
              <thead class="thead-dark">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Presision</th>
                  <th scope="col">Recall</th>
                  <th scope="col">F1-Score</th>
                  <th scope="col">Support Count</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Benign</th>
                  <td>{{ context.precision_1 }}</td>
                  <td>{{ context.recall_1 }}</td>
                  <td>{{ context.f1_1 }}</td>
                  <td>{{ context.sc_1 }}</td>
                </tr>
                <tr>
                  <th scope="row">Malignant</th>
                  <td>{{ context.precision_2 }}</td>
                  <td>{{ context.recall_2 }}</td>
                  <td>{{ context.f1_2 }}</td>
                  <td>{{ context.sc_2 }}</td>
                </tr>

              </tbody>
            </table>

        </div>

        <div class="container">
            <center><table class="table"style="background-color: lightblue; opacity: 1.0; margin: 40px 60px 50px 1px; width: 50%;">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Actual\Predicted</th>
                  <th scope="col">Malignant</th>
                  <th scope="col" style="text-decoration: overline;">Malignant</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Benign</th>
                  <td>{{ context.v_11 }}</td>
                  <td>{{ context.v_10 }}</td>

                </tr>
                <tr>
                  <th scope="row" style="text-decoration: overline;">Benign</th>
                  <td>{{ context.v_01 }}</td>
                  <td>{{ context.v_00 }}</td>
                </tr>

              </tbody>
            </table></center>

        </div>


       <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-6">
                    <div class="single-footer-widget">
                        <h6>Top Products</h6>
                        <ul class="footer-nav">
                            <li>
                                <a href="#">Managed Website</a>
                            </li>
                            <li>
                                <a href="#">health list</a>
                            </li>
                            <li>
                                <a href="#">Service</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6">
                    <div class="single-footer-widget mail-chimp">
                        <h6 class="mb-20">Contact Us</h6>
                        <p>
                            PDPM IIITDM Jabalpur, MP 482005
                        </p>
                        <h3>9479632598</h3>
                        <h3>2016185@iiitdmj.ac.in</h3>
                    </div>
                </div>
                <div class="col-lg-6  col-md-12">
                    <div class="single-footer-widget newsletter">
                        <h6>Mail Us</h6>
                        <p>You can trust us. we only send promo offers, not a single spam.</p>
                        <div id="mc_embed_signup">
                            <form target="_blank" action="index.html"&amp;id=#"
                             method="get" class="form-inline">

                                <div class="form-group row">
                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                        <input name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
                                         required="" type="email">
                                    </div>

                                    <div class="col-lg-5 col-md-12">
                                        <button class="nw-btn main_btn circle">get started
                                            <span class="lnr lnr-arrow-right"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="info"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row footer-bottom d-flex justify-content-between">
                <p class="col-lg-8 col-sm-12 footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                <script>document.write(new Date().getFullYear());
                </script> 
                All rights reserved
                <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#home" target="_blank">Prakash Nidhi Verma</a>
               <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-dribbble"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area =================-->



    <!--================ Optional JavaScript =================-->
    <!--================ jQuery first, then Popper.js, then Bootstrap JS =================-->
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/nice-select/js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/isotope/isotope-min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/owl-carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="{{ url_for('static', filename='js/mail-script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>

</html>

